<div style="margin: 0 auto;">
<img src="https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif" style="margin: 0 auto;">
</div>
<div style="margin: 0 auto;">
<pre style="font-size: 8px;"><%= error.stack %></pre>
</div>
